:root {
  --color-white: #ffffff;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
  --color-blue-50: #e3f2fd;
  --color-blue-100: #bbdefb;
  --color-blue-200: #90caf9;
  --color-blue-300: #64b5f6;
  --color-blue-400: #42a5f5;
  --color-blue-500: #2196f3;
  --color-blue-600: #1e88e5;
  --color-blue-700: #1976d2;
  --color-blue-800: #1565c0;
  --color-blue-900: #0d47a1;
}

/* light */
body {
  --color-bg-hover: var(--color-gray-50);
  --color-bg-link: var(--color-gray-100);
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-gray-100);
  --color-bg-blue: var(--color-blue-200);
  --color-border-primary: var(--color-gray-300);
  --color-bg-scrollbar: var(--color-gray-300);
  --color-bg-scrollbar-thumb: var(--color-gray-500);
  --color-bg-mask: var(--color-gray-300);
  --color-bg-progress-bar: var(--color-gray-200);
  --color-bg-progress-value: var(--color-gray-400);
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-600);
  --color-text-tertiary: var(--color-gray-400);
  --color-fg-link: var(--color-blue-800);
}

/* dark */
.dark>* {
  color-scheme: dark;
  --color-bg-hover: var(--color-gray-700);
  --color-bg-link: var(--color-gray-700);
  --color-bg-primary: var(--color-gray-800);
  --color-bg-secondary: var(--color-gray-900);
  --color-bg-blue: var(--color-blue-700);
  --color-border-primary: var(--color-gray-600);
  --color-bg-scrollbar: var(--color-gray-700);
  --color-bg-scrollbar-thumb: var(--color-gray-500);
  --color-bg-mask: var(--color-gray-600);
  --color-bg-progress-bar: var(--color-gray-600);
  --color-bg-progress-value: var(--color-gray-300);
  --color-text-primary: var(--color-gray-50);
  --color-text-secondary: var(--color-gray-200);
  --color-text-tertiary: var(--color-gray-400);
  --color-fg-link: var(--color-blue-200);
}
