/* tokens */
:root {
  --color-white: #ffffff;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
  --color-blue-50: #e3f2fd;
  --color-blue-100: #bbdefb;
  --color-blue-200: #90caf9;
  --color-blue-300: #64b5f6;
  --color-blue-400: #42a5f5;
  --color-blue-500: #2196f3;
  --color-blue-600: #1e88e5;
  --color-blue-700: #1976d2;
  --color-blue-800: #1565c0;
  --color-blue-900: #0d47a1;
}

/* reset */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* tokens light */
body {
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-gray-100);
  --color-border-primary: var(--color-gray-300);
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-600);
}

/* tokens app */
body {
  color: var(--color-text-primary);
}

/* element css */
body {
  font-family: sans-serif;
}

/* id css */
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* layout */
.layout-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
}
.layout-stack-1 > * + * {
  margin-top: 0.25rem;
}
.layout-stack-2 > * + * {
  margin-top: 0.5rem;
}
.layout-stack-3 > * + * {
  margin-top: 0.75rem;
}
.layout-stack-4 > * + * {
  margin-top: 1rem;
}
.layout-stack-horizontal > * + * {
  margin-left: 1rem;
}

/* utility */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.f-1 {
  flex: 1;
}
.h-6 {
  height: 1.5rem;
}
.h-8 {
  height: 2rem;
}
.h-12 {
  height: 3rem;
}
.h-full {
  height: 100%;
}
.w-8 {
  width: 2rem;
}
.w-64 {
  width: 16rem;
}
.w-full {
  width: 100%;
}
.m-0 {
  margin: 0;
}
.m-auto {
  margin: auto;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pl-0 {
  padding: 0;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-small {
  font-size: 0.75rem;
}
.text-medium {
  font-size: 1rem;
}
.text-large {
  font-size: 1.25rem;
}
.text-primary {
  color: var(--color-text-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.font-mono {
  font-family: monospace;
}
.list-style-none {
  list-style: none;
}
.text-decoration-none {
  text-decoration: none;
}
.border-solid {
  border-style: solid;
}
.border-none {
  border-style: none;
}
.border-0 {
  border-width: 0;
}
.border-1 {
  border-width: 1px;
}
.border-color-primary {
  border-color: var(--color-border-primary);
}
.rounded-1 {
  border-radius: 0.25rem;
}
.rounded-2 {
  border-radius: 0.5rem;
}
.bg-primary {
  background-color: var(--color-bg-primary);
}
.bg-secondary {
  background-color: var(--color-bg-secondary);
}
